## Namespace for UTAR
## Generics and functions defined in this package

export(
	   "getValueFunctions",
       "exportLog",
	   "extractContent",
       "exportSituation",
       "constructGmatrix",
       "performanceTableToXML",
       "computeNormalizedPerformanceTable",
       "scanInputsFolder",
       "findAndCheck",
       "extractContent",
       "getPreferencesDirections",
       "combineAndRestrictContent",
       "restrictAllFilesToCorrectAlternatives",
       "restrictAllFilesToCorrectCriteria",
       "produceOrientedSegment",
       "computeUTASTAR",
       "computeUTASTARmatrices",
       "countNbDiffAlternatives",
       "solveUTASTAR",
       "computePostOptimalityAnalysis",
       "meanValue",
       "utamp",
       "analyticCenter",
       "analyticCenterInitialization",
       "pseudoinverse",
       "nullspace",
       "psmall.svd",
       "fast.svd",
       "positive.svd",
       "buildUmatrix",
       "saveUtilityFunctionUnderXML",
       "alreadyDone",
       "extractSubsets",
       "generateUtilities",
       "computeranking",
       "generateStandardAlternatives",
       "generateRandomAlternatives",
       "initializeModel",
       "updateModel",
       "computeAlternativesIndicator",
       "computeEmptyUTASTARmatrices",
       "updateLearningSet",
       "computeequation",
       "computeNecessaryRelation",
       "getRanking",
       "computeUtilitiesIndicator",
       "computeUtilitiesIndicator_weights",
       "computebound",
       "comparerankings",
       "nextpair_volumeoriented",
       "nextpair_relationoriented",
       "nextpair_visionary",
       "generateEasyLearningSet",
       "findcprofile",
       "invertprofile",
       "generateYprofileFromX",
       "checkEasyPair"
       )

